.table_character {
    width: 90vw;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto 1em auto;
    font-size: 0.9em;
    text-align: center;
}

.table_character td {
    border: 1px solid #000;
    padding: 0.5em;
}

.form_add_character {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto 0 auto;
}

.form_add_character input {
    margin: 0.5em 0;
    padding: 0.5em;
}

.form_modify_character {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 20px;
    margin: 15px auto 0 auto;
    gap: 15px;
    background: aquamarine;
}

.form_modify_character input {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100px;
}

.form_modify_character button {
    height: fit-content;
    margin: auto;
    display: block;
}

.form_modify_character .btn-group {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}

.form_modify_character .btn-group button {
    width: 80px;
    border: 0;
    cursor: pointer;
    padding: 0.5em;
}

.btn--red {
    background-color: red;
    color: white;
}

.btn--green {
    background-color: green;
    color: white;
}